@charset
"UTF-8"
;

html
{
    color: #FFFFFF;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.9em;
    height: 100%;
}

html.use_policy
{
    background: #010088 url(../images/backRepeat.jpg) repeat-x 0 -132px;
}

body
{
    font: 1em / 1.5 Verdana, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;

    min-height: 100%;
    height: 100%;
}

#viewport
{
    overflow: hidden;
    position: absolute;
    top: 135px;
    left: 0;
    width: 100%;
    height: 100%;
}

#bg_image
{
    display: block;
    position: absolute;
    width: 100%;
}

#coverup
{
    background: #333333;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.idle_body
{
    color: #333333;
}

.headline_with_icon
{
    width: 500px;
    position: relative;
    min-height: 120px;
}
.headline_with_icon.shorter_icon
{
    min-height: 80px;
}

#mainScreen .headline_with_icon h1
{
    padding: 5px;
    text-align: center;
    left: 115px;
    width: 230px;
    position: relative;
}

#mainScreen .headline_with_icon img
{
    position: absolute;
    left: 0;
}

form p
{
    text-align: left; /*clear: left;*/
    padding: 5px 20px;
}

label
{
    min-width: 45%;
    padding-right: 10px;
    display: block;
    float: left;
}

.credentials label
{
    width: 45%;
}

.credentials input
{
    text-transform: uppercase;
}

#wrapper
{
    width: 90%;
    min-width: 900px;
    margin: 15px 5%;
}

#widget
{
    float: left;
    width: 360px;
    margin-right: 30px;
}

#status_box
{
    width: 100%;
    text-align: center;
}

.info_box
{
    border: 2px solid #CCC;
    /*background-color: #FFF;*/
    padding: 25px 10px;
}

#resume_session_icon
{
    float: right;
    padding-left: 10px;
}

#login_instructions
{
    min-height: 73px;
}

#language_control
{
    padding-top: 2px;
}

#use_policy
{
    padding: 10px;
}

#footer p
{
    margin: 0;
}

#footer img
{
    vertical-align: middle;
}

.clear
{
    clear: both;
}

.status
{
    font-weight: bold;
    width: 100%;
    display: block;
}

.offline
{
    color: #BBB;
}

.available
{
    color: green;
}

.reserved
{
    color: red;
}

.main_icon
{
    margin-right: 15px;
}

#at_client_instructions
{
    width: 70%;
    text-align: left;
    margin: 0 auto;
}

.pairs
{
    clear: both;
    text-align: left;
    padding-bottom: 5px;
}

.pairs label
{
    width: 50%;
    float: left;
    padding-right: 20px;
    display: block;
    text-align: right;
}

.modal
{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: transparent url(../images/translucent_grey_50.png) repeat 0 0;
    z-index: 100;
}

.modal_content
{
    border: 3px solid black;
    -moz-border-radius: 10px;
    background-color: white;
    padding: 15px;
    text-align: center;

    display: block;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
}

html.use_policy #change_language_content, html.use_policy #use_policy_decline_confirmation
{
    color: #000000;
}

h1, h2, h3, h4, h5, h6, p
{
    margin: 0px;
    padding: 0em;
}

.pcRes4 #container
{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: 0;
}

.pcRes4 #bg
{
    min-height: 100%;

    /*background-image: url(../images/globalBkgrnd.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: top center;*/
}

.pcRes4 #header
{
    margin: 0;
    padding: 10px 10px 0;
    text-align: left;
}

.pcRes4 #header h4
{
    line-height: 40px;
}

.pcRes4 #logo
{
    text-align: left;
    padding-left: 1em;
    width: 50%;
    bottom: 100%;
    margin-top: 20px;
}

.pcRes4 #area
{
    float: right;
    background-color: #0000FF;
    margin-right: 30px;
}

#area_icon
{
    height: 100%;
    width: 62px;
    margin-right: 10px;
    float:left;
}

.pcRes4 #area h3
{
    color: #FFFFFF;
    max-width:380px;
    text-align:left;
    float:left;
    min-width:35px;
}

.pcRes4 #mainScreen
{
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    margin-top: 0;
    width: 30em;
}

.pcRes4 #columns
{
    width: 100%;
    position: relative;
}

.pcRes4 #mainContent
{
    position: relative;
    margin: 0 280px;
    z-index: 2;
    padding: 105px 0 0;
}

.pcRes4 #news
{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    padding: 30px 15px 15px;
 }

.pcRes4 #mainInstructions
{
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    padding: 30px 15px 15px;

}

.bhorizborder
{
    background-image: url(../images/bBorderClear.gif);
    background-repeat: repeat-x;
    background-position: 20px 100%;
    background-color: #FFFFFF;
}

.rvertborder
{
    background-image: url(../images/rBorderClear.gif);
    background-repeat: repeat-y;
    background-position: 100% 20px;
}

.lvertborder
{
    background-image: url(../images/lBorderClear.gif);
    background-position: 0 20px;
    background-repeat: repeat-y;
}

.thorizborder
{
    background-image: url(../images/tBorderClear.gif);
    background-repeat: repeat-x;
    background-position: 20px 0;
}

.br
{
    background: url(../images/brCornerSQClear.gif) no-repeat 100% 100%
}

.bl
{
    background-image: url(../images/blCornerSQClear.gif);
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.tl
{
    background: url(../images/tlCornerSQClear.gif) no-repeat 0 0
}

.tr
{
    background: url(../images/trCornerSQClear.gif) no-repeat 100% 0;
    padding: 35px 35px 10px 35px;
    text-align: center;
}

.brArea
{
    background: url(../images/brCornerSQArea.gif) no-repeat 100% 100%
}

.blArea
{
    background-image: url(../images/blCornerSQArea.gif);
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.tlArea
{
    background: url(../images/tlCornerSQArea.gif) no-repeat 0 0
}

.trArea
{
    background: url(../images/trCornerSQArea.gif) no-repeat 100% 0;
    padding: 25px;
}

.bhorizborderArea
{
    background-image: url(../images/bBorderArea.gif);
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-color: transparent;
}

.rvertborderArea
{
    background-image: url(../images/rBorderArea.gif);
    background-repeat: repeat-y;
    background-position: 100% 0;
}

.lvertborderArea
{
    background-image: url(../images/lBorderArea.gif);
    background-position: 0 0;
    background-repeat: repeat-y;
}

.thorizborderArea
{
    background-image: url(../images/tBorderArea.gif);
    background-repeat: repeat-x;
    background-position: 0 0;
}

.clearborder
{
    font-size: 1px;
    height: 1px;
}

/* Miscellaneous classes for reuse */
.fltrt
{
/* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
    float: right;
    margin-left: 8px;
}

.fltlft
{
/* this class can be used to float an element left in your page */
    float: left;
    margin-right: 8px;
}

.clearfloat
{
/* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0;
}

p
{
    font-size: 0.85em;
    padding: 0.25em 0em 0.75em;
    line-height: 1.25em;
}

h1
{
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}

.available
{
    color: #00CC00;
}

.reserved
{
    color: #FF0000;
}

.offline
{
    color: #CCCCCC;
}

h2
{
    font-size: 22px;
    font-weight: bold;
    color: #000099;
    text-align: center;
}

h2.computer_name
{
    padding: 5px;
    margin: 0 0 15px 0;
    -moz-border-radius: 5px;
    border: 1px solid #EEE;
    background-color: #FAFAFA;
}

html.use_policy #use_policy_decline_confirmation h2
{
    font-size: 1.1em;
    font-weight: bold;
    color: #000099;
    width:170px;
}

html.use_policy #use_policy_decline_confirmation p
{
    padding-top:20px;
}

h3
{
    font-size: 1.35em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0 0 0.25em;
    line-height: 1em;
    color: #990000;
}

h4
{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    line-height: 1;
}

h5
{
    font-size: 1em;
    text-align: center;
}

h6
{
    font-size: 0.9em;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
}

#usage_details
{
    text-align:center;
    font-size:0.8em;
    font-weight: normal;
    border: 1px solid #000;
    background-color: #EEE; 
    margin: 15px;
    padding: 10px;
}

#usage_details h4
{
    font-decoration:underline;
}

#usage_details table
{
    font-size: 0.9em;
    text-align: left;

}

#usage_details table td
{
    padding-bottom: 10px;    
}

#usage_details table td.first
{
    width: 50%;
    padding-right: 15px;
    text-align: right;
    vertical-align: middle;
}

.blank
{
    width:100%;
    height:100%;
    background-color:#333333;
    border: 1px solid #6e59aa;
    overflow: hidden;
}

.transition
{
    height:100%;
    width:100%;
    background: #4727A4 url(../images/PCres4_loader.gif) no-repeat scroll top center;
}

.choice_offer td
{
    padding-bottom:10px;
    line-height:1.1;
}

.choice_offer .label
{
    width:45%;
}


.hide
{
    position: absolute;
    left: -2500px;
    width: 1px;
}